body {
    font-family: Arial, sans-serif;
    background: #d8c7a0;
    color: #2b1b0e;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: gold;
    font-size: 42px;
    font-weight: bold;
    text-shadow:
        0 0 5px #ffd700,
        0 0 10px #ffd700,
        0 0 20px #b8860b;
    margin-bottom: 25px;
}

#search {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: rgba(20,20,20,0.85);
    color: white;
    border-radius: 10px;
    overflow: hidden;
}

th {
    background: #8b0000;
    color: gold;
    padding: 12px;
}

td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #444;
}

tr:nth-child(even) {
    background: rgba(255,255,255,0.03);
}

tr:hover {
    background: rgba(255,255,255,0.08);
}

.green-dot {
    color: #00cc00;
    font-size: 18px;
    font-weight: bold;
}

.red-dot {
    color: #cc0000;
    font-size: 18px;
    font-weight: bold;
}
